[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true

[credential "https://git-codecommit.AWSREGION.amazonaws.com"]
    helper = !aws codecommit credential-helper $@ 
    UseHttpPath = true